*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
}

.big-dot{
    width: 200px;
    height: 200px;    
}

.left-dot{
    animation-name: left-dot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
.right-dot{
    animation-name: right-dot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes left-dot {
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(-90px);
    }
}

@keyframes right-dot {
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(90px);
    }
}